    [MASTER]
disable=
    invalid-name,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    missing-final-newline,
    wrong-import-order,
    duplicate-code,
    unused-import,
    unused-argument,
    unspecified-encoding,
    broad-exception-caught,
    trailing-whitespace


ignore= tests

[MESSAGES CONTROL]
enable=all

[REPORTS]
output-format=colorized